<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <script src="https://kit.fontawesome.com/c33decd863.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <footer>
              <div id="informacionF">
                <ul id="informacionContacto">
                    <li><h3>Contacto</h3></li>
                    <li><h4>Gobierno del Estado de México 
                        Secretaria de Educación, Tecnológico de Estudios Superiores de Huixquilucan</h4></li>
                    <li><p>Paraje El Río s/n, Col. La Magdalena Chichicaspa. CP 52773, Estado de México.</p></li>
                    <li><h4>(0155) 82881907 </h4></li>
                    <li><p>dir.tes_huixquilucan@hotmail.com</p></li>
                </ul>X  

            </div>
        </footer>
    </div>
</body>
</html>